p {
    font-size: 20px;
}
.mypost {
    font-size: 30px;
}
.mycomment {
    font-size: 30px;
    color: blue;
}
.mypost {
    margin: 1rem 0;
    box-shadow: 4px 8px 8px 10px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}
.postsp{
    color:brown;
    font-size: 25px;
}
.posttitle{
    font-size: 40px;
    text-align: center;
}